version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: "monday"
    time: "00:00"
    timezone: "Europe/Zurich"
  open-pull-requests-limit: 10
  reviewers:
    - velrest
  versioning-strategy: increase

