<div class="uk-margin" ...attributes>
  <label class="uk-form-label" for="form-stacked-text">
    {{@label}}
    {{#if @optional}}
      <span class="uk-text-muted uk-text-lowercase uk-text-normal">({{t
          "emeis.optional"
        }})</span>
    {{/if}}
  </label>
  <div class="uk-form-controls">
    {{yield}}
  </div>
</div>