<ul uk-tab class="uk-child-width-1-2">
  <li>
    <LinkTo @route="users.edit.index" data-test-edit-link>
      {{t "emeis.users.edit.edit-user"}}
    </LinkTo>
  </li>

  <li>
    <LinkTo @route="users.edit.acl" data-test-acl-link>
      {{t "emeis.users.edit.acl"}}
    </LinkTo>
  </li>
</ul>
{{outlet}}
