<SectionTitle @model="scopes" />

<div class="uk-grid">
  <div
    class="uk-width-large@l uk-width-1-3@m uk-width-1-2@s uk-first-column tree-border-right"
  >
    <Tree
      class="uk-margin-small-left"
      @items={{this.rootScopes}}
      @itemRoute="scopes.edit.index"
      @activeItem={{this.activeScope}}
    />
    <hr class="uk-hidden@s uk-margin-small-bottom" />
  </div>
  <div class="uk-width-expand">
    {{outlet}}
  </div>
</div>