<SectionTitle @model="scopes" />

<div class="uk-grid">
  <ul class="scope-tree uk-width-1-4 uk-first-column" {{did-insert (perform this.fetchData)}}>
    {{#each this.rootScopes as |scope|}}
      <TreeNode @scope={{scope}} @active={{this.activeScope}}></TreeNode>
    {{/each}}
  </ul>
  <div class="uk-width-3-4">
    {{outlet}}
  </div>
</div>
